.navbar{
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    align-items: baseline;

}

.navbar i{
    align-items: baseline;
  
}

.navbar a{
    padding: 0.6em;
    
}

.ggif{
    display: flex;
    justify-content: center;
}



.searchContainer{
    
    padding:20px;
}
.icon{
    display: flex;
    justify-content: center;
}

.inputForm{
    
    width: auto;
    max-width: 584px;
}



.inputcontainer{
    display: flex;
    align-items: center;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    height: 44px;
    margin: 0 auto;
   
    max-width: 584px;
}

.inputcontainer div{
    
}

.flexContainer{
    

}